extends layout

block content
    h1= title
    p Welcome to #{title}
    form#addUser
      label(for='name') Name:
        input#name(type='text', placeholder='name' name='name')
      br
      label(for='score') Score:
        input#score(type='number', placeholder='Score' name='score')
      br
      label(for='onTime') No. of on Time Transactions:
        input#ontime(type='number', placeholder='onTime' name='ontime')
      br
      label(for='total') Total no.of Transactions:
        input#total(type='number', placeholder='total' name='total')
      br
      button#btnAdd(onClick=('addUser()')) Add
      br
    br
	
    label(for='name') Name:
    input#cname(type='text', placeholder='name' name='name')
    br
    button#btnquerry(onClick=('info()')) querry
	
    // Wrapper
    #wrapper

        // USER LIST
        h2 company score
        #userList
            table
                thead
                    th Name
                    th score
                tbody
        // /USER LIST

    // /WRAPPER
